*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    border: 1px solid;
    overflow-x: hidden;
}
.text h1,p{
    display: flex;
    justify-content: center;
}

.carousel-container{
    height: 80vh;
    width: 250rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel-slider h1{
    display: flex;
    justify-content: center;
}
.carousel-slider{
    border: 1px solid black;
    width: 30rem;
    position: relative;
    left: -3rem;
    font-size: larger;
    height: 20rem;
}
